{% extends 'core/base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12 pt-5">
            {% if  post.postimage  %}
                <img class="card-img-top"  src="{{ post.postimage.url }}" alt="Card">
            {% else %}
                <img class="card-img-top" src="https://via.placeholder.com/150x100" alt="Card">
            {% endif %}

	    <h2 class="pt-5">{{ post.title }}</h2>
	    <p>{{ post.excerpt }}</p>
	</div>
    </div>
</div>

{% endblock %}
