<nav class="navbar navbar-expand-lg navbar-light bg-dark">
  <a class="navbar-brand d-flex align-items-center text-light bg-dark" href="#">CMS Primer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-light bg-dark" href="/core/">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link text-light bg-dark" href="/core/posts">Manage Posts</a>
      </li>
    </ul>
  </div>
</nav>
